.FormTable{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	border: 1px solid #000000;
	border-collapse: collapse;
}

.save_button{
	font-weight: bolder;
	text-shadow: 1px 1px 0px black;
  	border:0;
  	color: #222;
	height:33px;
	font-family:Verdana;
	font-size:12px;
  	padding:0 .70em 0 .70em;  
 	width:122px;
  	overflow:visible;
	cursor:pointer;
	outline: none;
 	white-space:normal;
}

.input_32_table{
	margin-left:2px;
	padding-left:0.4em;
	height:23px;
	width:345px;
	line-height:23px \9;
	font-size:12px;
	/*font-family: Lucida Console;*/
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	border-width:1;
	color:#222;
}

.input_20_table{
	margin-left:2px;
	padding-left:0.4em;
	height:23px;
	width:180px;
	line-height:23px \9;
	font-size:12px;
	/*font-family: Lucida Console;*/
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	border-width:1;
	color:#222;
}

th {
	margin-left:2px;
    display: table-cell;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
